.panel-title{
    display: inline-block;
}
.number-input{
    width: 100px;
    display: inline-block;
    margin-right: 2px;
}
.input-group-addon{
    cursor: pointer;
}
.progress-bar{
    font-weight: bold;
}
.progress{
    height: 1.7rem;
    font-size: 1rem;
}
.table{
    font-size: .9rem;
}
.campaign-img{
    object-fit: cover;
    max-height: 250px;
}